.home-header {
  display:flex;
  justify-content:right;
  align-items:center;
  width:100%;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  overflow-y: auto;
  max-height: 70vh;
  padding-right: 0.5rem;
  scrollbar-width: none;
}

.book-list.list .book-item {
  opacity: 0;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s ease;
  animation: fadeSlideIn 0.5s ease forwards;
  animation-delay: calc(var(--i) * 0.2s);
}

.book-cover-container {
  position: relative;
  min-width: 55px;
  min-height: 86px;
  width: 55px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-list {
  width: 100%;
  height: auto;
  max-width: 55px;
  max-height: 86px;
  object-fit: contain;
}

.thumbnail-grid {
  width: 100%;
  height: auto;
  max-width: 55px;
  max-height: 86px;
  object-fit: contain;
}

.book-list.list .thumbnail {
  opacity: 0;
  width: 60px;
  height: 80px;
  background-color: #ddd;
  border-radius: 6px;
  animation: fadeSlideIn 0.5s ease forwards;
}

.book-list.list .details h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.book-list.list .details .author {
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

.availability .available {
  color: green;
}

.availability .unavailable {
  color: red;
}

/* --- TILE VIEW --- */
.book-list.tile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 1rem;
}

.book-list.tile .book-item {
  transform: scale(0.99);
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  animation: fadeSlideIn 0.5s ease forwards;
  animation-delay: calc(var(--i) * 0.2s);
}

.book-list.tile .thumbnail {
  width: 80px;
  height: 100px;
  background-color: #ddd;
  border-radius: 6px;
}

/* Hide text in tile view */
.book-list.tile .details {
  display: none;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 45%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

/* Keyframes for the spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}