.search-bar {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 1rem 0;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
}

.search-input-wrapper input {
  width: 100%;
  padding: 0.6rem 1rem 0.6rem 2.2rem;
  background-color:transparent;
  border-radius: 8px;
  border: 1px solid #000000;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.search-input-wrapper input:focus {
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0.7rem;
  transform: translateY(-50%);
  color: #555;
  pointer-events: none;
}
