.book-details-page {
  padding: 2rem 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.book-details-page h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.book-details {
  display: flex; 
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.book-info {
  flex: 1;
}

.book-info h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.book-info p {
  margin: 0.3rem 0;
}

.rating {
  font-size: 1rem;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

.on-loan {
  color: red;
}

.in-transit {
  color: orange;
}

.not-found-in-nlb {
  color: red;
}

.description {
  display:flex;
  flex:1;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-height: 42vh;
  overflow-y: auto;
}

.description-notfoundinnlb {
  display:flex;
  flex:1;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 2rem;
  overflow-y: auto;
}

.availability-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  max-height: 42vh;
  overflow-x: hidden;
}

.library-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.map-placeholder {
  min-width: 100px;
  min-height: 100px;
  background-color: #ddd;
  border-radius: 6px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #555;
}

.library-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.library-info h4 {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 600;
}

.status {
  margin: 0.2rem 0;
  font-size: 0.85rem;
}

.book-cover-container {
  position: relative;
  min-width: 64px;
  min-height: 100px;
  width: 64px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 100%;
  height: auto;
  max-width: 64px;
  max-height: 100px;
  object-fit: contain;
}

.map-iframe {
  width: 100px;
  height: 120px;
  border: 0;
  overflow: hidden;
  pointer-events: none; /* optional: disable click */
  clip-path: inset(20px 0 0 0); /* crops out top area with the button */
}

.details-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #000;
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}