h2 {
  font-weight: 400;
}

.discover-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height:326px;
}

.refresh-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background-color: transparent;
  transition: color 0.2s ease, background-color 0.2s ease;
  border-radius: 6px;
}